h1 {
  color: red;

}

h2 {
  color: red;
}

.go{
  text-align: center;
  color: red;
}

body {
  background-color: black;
}

.btn-group button {
  background-color: red; /* red background */
  border: 1px solid white; /* white border */
  color: white; /* White text */
  padding: 10px 34px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side*/

}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: black;
}
.mens {
  top
  margin-top: 30px;
}

.link {
  margin-bottom: 20px;
}

.welcome{
  text-align: center;
  padding-top: 300px;
}

.open {
  text-align: center;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: red;
  margin-left: 640px;
}

.btn:hover {background: black;}

.open {color: red;}
